---
import type { Pokemonresponse } from '@interfaces/pokemon.response';

interface Props {

  name: string;
  url:string;
  isDetail?: boolean;
}

const {name, url,  isDetail = false } = Astro.props;


const resp = await fetch(url);
const data = (await resp.json()) as Pokemonresponse;

const image = data.sprites.other?.["official-artwork"].front_default;
const audioSrc = data.cries.latest;
const id = data.id;
---
<!-- href={`/pokemons/${name}`} -->
<a
  href={`/pokemon/${id}`}
  class:list={[
    `rounded  flex flex-col justify-center items-center p-2`,
    {border: !isDetail}
    ]}
>
  <img 
  transition:name={`/pokemons/${name}`}
  class:list={[
{ "w-26 h-26": isDetail,
  "w-22 h-22": !isDetail,}
  ]} src={image} alt={name} />
  <span class:list={[
    `capitalize`,
    {"text-4xl": isDetail,}
  ]}>#{id} {name}</span>
  {isDetail ? <audio controls class="mt-5">
    <source src={audioSrc} type="audio/ogg" />
  </audio> : <></>}
</a>
